<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>SurveyMobile</h1>
  </div>

  <div data-role="content">
    <p>In home page</p>
    <li><a href="/app/SpecRunner">Run tests</a></li>
  </div>

</div>
